/client-layer/client/node_modules
/client-layer/client/.env
/client-layer/client/.next

/api-layer/core-api/node_modules
/api-layer/core-api/.env

/api-layer/payment-service/node_modules
docker-compose.dev.yml
.idea

/secrets
/cloudflared

/api-layer/core-api/secrets/
.aider*

/Docs

/api-layer/build-service/tmp/
/api-layer/deploy-service/tmp/
/api-layer/monitoring-service/tmp/

/Docs