entryPoints:
  web:
    address: ":80"

api:
  dashboard: true
  insecure: true

log:
  level: DEBUG

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
  
  file:
    directory: "/etc/traefik/dynamic"
    watch: true